# EmailJS Configuration
VITE_EMAILJS_PUBLIC_KEY=gdIveY33vqqRlwMv8
VITE_EMAILJS_SERVICE_ID=service_g80n7vl
VITE_EMAILJS_TEMPLATE_ID=template_fwamr1t
VITE_EMAILJS_PRIVATE_KEY=ZTknJYjMrsN2ooujI

# Contact Email
VITE_CONTACT_EMAIL=endlessdreamsds@gmail.com 